@import url(https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|3d-float);

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Segoe UI';
    font-style: normal;
    font-weight: 400;
}
nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.skip a {
    position: absolute;
    top: -40px;
  }
  .skip a:focus {
    top: 20px;
  }
  section{
    display:flex;
    
  }
