@import url(https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple|3d-float);

a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
}

.skip a {
    position: absolute;
    top: -40px;
}


.skip a:focus {
    top: 20px;
    left: 10px;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
}

.header {
    display: relative;
    background: #12137e;
}

body {
    background: #5c9ad0;
}
.navbar{
    overflow:hidden;
    visibility: initial;
    /* visibility: hidden; */
}
.navbar>ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.punxa{
    margin-top: 50px;
    margin-bottom: 50px;
}
.navbar #hidden {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    margin:10px;
}

.navbar a:visited {
    color: white;
}

.buildings {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    grid-gap: 50px;
}


.buildings img {
    border: 5px solid yellow;
    border-radius: 5px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    gap: 5px;
}

.images img {
    border: 5px solid yellow;
    border-radius: 5px;

}

img {
    border: 5px solid yellow;
    border-radius: 5px;

}
footer{
    display: flex;
    background-color: black;
}
footer p{
    color: aliceblue;
    font-weight: bold;
    font-size: 16px;
}
.title{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
#clock_support{
    background-color: #23517B;
}
#clock{
    display:block;
    color: #FAFAFA;
    font-size: 96px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #585d15;
}
.count{
    display:block;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.gallery{
    margin-top: 50px;
    margin-bottom: 50px;
}

#drop{
    position: relative;
    margin: 0 auto;
    width: -30%;
    text-decoration: underline;
    font-size: 24px;
    color: aliceblue;
    margin-bottom: 10px;
}
#brinkus{
    background-image: url("./pics/Law-Library-exterior-BHL\(umichheritageproj\).jpg");
}
#spanner{
    width:100%;
    background-image: url("../pics/Law-Library-exterior-BHL\(umichheritageproj\).jpg");
}
.background{
    background-image: url("../pics/Law\ Library\(Pinterest\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: blur(4px);
    height: 500px;
    width: 100%;
}
#background2{
    background-image: url("../pics/edward-howell-oS0sZdE5U6c-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: blur(4px);
    height: 450px;
    width: 100%;
}
#background3{
    background-image: url("../pics/concert-g6e28994e1_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: blur(4px);
    height: 450px;
    width: 100%;
}
#background4{
    background-image: url("../pics/pexels-fauxels-3184423.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: blur(4px);
    height: 450px;
    width: 100%;
}
#frontend{
    display:flex;
    position: absolute;
    margin-top: 100px;
    justify-content: center;
}
#frontier{
    display:grid;
    position: absolute;
    margin-top: 100px;
    justify-content: center;
}
#tis{
    font-size: 52px;
    color: rgb(50, 143, 225);
    text-shadow: yellow 2px 2px;
}
video {
    width: auto;
    height: 10%;
  }
  #smaller{
    font-size: 32px;
  }
  #ramsey{
    display:grid;
    justify-items:center;
  }
  .interest{
    margin-bottom: 30px;
  }
@media screen and (min-width:740px){
    #drop{
        color:#23517B;
        top:-50px
    }
    nav{
        display:flex;
        justify-content: flex-end;
    }
    .navbar>ul{
        flex-direction: row;
        justify-self: flex-end;
        margin-right: 20px;
    }
    .navbar a{
        font-size: 24px;
    }
    .header{
        display:grid;
        justify-content: center;
        
    }
    #format1{
        position: relative;
        top: -30px;
    }
    #frontend{
        margin-top: 140px;
    }
    #tis{
        font-size: 80px;
    }
}

@media screen and (min-width: 900px) {
    .buildings{
        grid-gap:50px
    }
    .assemble{
        display: grid;
        justify-content: center;
    }
    .comp #format{
        display: grid;
        justify-content: center;
    }
    .buildings #format{
        justify-self: center;
    }
    #drop{
        color:#23517B;
        top:-50px
    }
    nav{
        display:flex;
        justify-content: flex-end;
    }
    .navbar>ul{
        flex-direction: row;
        justify-self: flex-end;
        margin-right: 20px;
    }
    .navbar a{
        font-size: 36px;
    }
    .header{
        display:grid;
        justify-content: end;
        
    }
    #format1{
        position: relative;
        top: -30px;
    }
    #tis{
        font-size: 108px;
    }
}
